body{
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.container{
  max-width: 600px;
  margin: 20px auto;
}

.square{
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border: solid 0px;
  border-radius: 15px;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}

h1{
  color: white;
  height: 150px;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  padding: 15px 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
}

.stripe{
  background-color: white;
  height: 30px;
  text-align: center;
}

.selected{
  background-color: steelblue;
  color: white;
  border: none;
}

#colorDisplay{
  font-size: 200%;
}

button{
  border: none;
  background: none;
  color: steelblue;
  text-transform: uppercase;
  font-weight: 700;
  height: 100%;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover{
  background-color: steelblue;
  color: white;
}

#message{
  display: inline-block;
  width: 20%;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
